<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:insert="plantilla.html::head">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Index</h1>
<header th:insert="plantilla.html">

</header>
<div>
    <h1>Tareas por realizar</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Estado</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tarea:${tareas}">
            <td th:text="${tarea.getNombre()}"></td>
            <td th:text="${tarea.getDescripcion()}"></td>
            <td th:text="${tarea.getEstado()}"></td>
        </tr>
        </tbody>
    </table>

<!--            <span th:if="${tareas.size() == 0}">No hay tareas por realizar</span>-->
<!--            <span>Nombre: <span th:text=""></span></span>-->
<!--            <span>Descripción</span>-->
<!--            <span>Fecha de creación</span>-->
<!--            <span>Fecha de finalización</span>-->
<!--            <span>Estado</span>-->



</div>
</body>
</html>