<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="plantilla.html">
</header>
<h1>Listado tareas</h1>
<div th:if="${usuario!=null}">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Estado</th>
            <th scope="col">Acción</th>
        </tr>
        </thead>
        <tbody>
        <form th:action="@{/user/tareas/editar}" method="get">
        <tr th:each="tarea:${usuario.getTareas()}">
                <td th:text="${tarea.getNombre()}"></td>
                <td th:text="${tarea.getDescripcion()}"></td>
                <td th:text="${tarea.getEstado()}"></td>
            <td><button class="btn btn-primary" type="submit" th:value="${tarea.getId()}" name="id">Editar</button></td>
            <td>
                    <form th:action="@{/elminartarea}" method="get">
                <button class="btn btn-danger" type="submit" th:value="${tarea.getId()}" name="id">Eliminar</button>
                    </form>
            </td>
        </tr>
        </form>
        </tbody>
    </table>
</div>
    <a class="btn btn-primary" th:href="@{/user/tareas/nueva}">
        Crear tarea
    </a>
</body>
</html>