<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:insert="plantilla.html">

</header>
<h1>Mostrar Usuarios</h1>

<table class="table">
    <thead>
    <tr>
        <th scope="col">NIF</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Activo</th>
        <th scope="col">Acción</th>
    </tr>
    </thead>
    <tbody>
    <form th:action="@{/admin/usuario/editar}" method="get">
    <tr th:each="user:${listaUsuarios}">
        <td th:text="${user.getNif()}"></td>
        <td th:text="${user.getNombre()}"></td>
        <td th:text="${user.getApellidos()}"></td>
        <td th:text="${user.getActivo()}"></td>
        <td><button class="btn btn-primary" type="submit" th:value="${user.getNif()}" name="nif">Editar</button>
        <a class="btn btn-danger" th:href="@{/admin}">Eliminar</a></td>
    </form>
        <!-- Eliminar-->


    </tr>
    </tbody>
</table>

<a class="btn btn-primary" type="submit" th:href="@{/admin/usuario/nuevo}">Nuevo Usuario</a>
</body>
</html>